.App {
  border: 5px;
  margin-top: 15%; 
  margin-left: 15%;
  margin-right: 15%;
  padding: 15px;
  align-content: center;
  background-color: #d9d9d9;
}

#subtitle {
  margin-top: -8px;
  margin-bottom: 8px;
}
